---
title: LCK_73© - Digital Design & Identity
---
<!-- Intro + Header -->
<div class="loader">
  <div id="preloadfont">.</div>
  <div class="intro">
      <div id="text"></div>
  </div>
</div>

<div class="custom-container">
    <div class="container-left">
        <div class="right-upper-text">
          We're an interactive<br>design<br>studio, available<br>for<br>inquiries
        </div>
        <div class="left-bottom-text">
            <a href="mailto:lck73.studio@gmail.com">Contact</a>
        </div>
    </div>
    <div class="container-right">
      <a href="info.html" class="info-right">Info</a>
    </div>
</div>

<div class="wrapper">
  <section class="hero-section">
    <!-- LOGO -->
    <!-- <div class="hero-logo">
      <a href="mailto:lck73.studio@gmail.com">contact</a>
    </div> -->

    <!-- TOGGLE BUTTON -->
    <!-- <div class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </div> -->

    <!-- SOCIAL MEDIA ICONS -->
    <!-- <div class="media">
      <ul class="ref-list">
        <li>
          <a href="https://www.behance.net/lck73" target="_blank">Be</a>
        </li>
        <li>
          <a href="http://instagram.com/lck.73" target="_blank">In</a>
        </li>
        <li>
          <a href="http://facebook.com/lck73studio" target="_blank">Fa</a>
        </li>
      </ul>
    </div> -->

    <!-- projects section starts here -->

    <div class="whitespace"></div>
    <div class="whitespace"></div>
    <a name="projects"></a>
    <h6 class="projects-intro">selected projects</h6>

    <!-- Hover Effect -->

    <div class="navigation-wrapper">
      <div class="project-preview-wrapper">
        <div class="project-preview"></div>
      </div>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link navigation-link-1" href="https://www.behance.net/gallery/89383481/Ellozze-E-commerce-Website" target="_blank">
            <span data-text="Ellozze">Ellozze<sup>2019</sup></span>
          </a>
        </li>
        <div class="project-overlay"></div>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-2" href="https://www.behance.net/gallery/82919627/Nomasei-Online-Store" target="_blank">
            <span data-text="Nomasei">Nomasei<sup>2019</sup></span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-4" href="https://www.behance.net/gallery/84796177/Carolina-Ritzler-Eshop" target="_blank">
            <span data-text="Carolina_Ritzler">Carolina_Ritzler<sup>2019</sup></span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-3" href="https://www.behance.net/gallery/78438759/Time-Architecture-UI-Design" target="_blank">
            <span data-text="Time">Time<sup>2018</sup></span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-5" href="https://www.behance.net/gallery/69090189/Logotypes-Marks-Vol-I" target="_blank">
            <span data-text="Various_logos">Various_logos<sup>2019</sup></span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-6" href="https://www.behance.net/gallery/74038675/Agence-41-BrandingUI-Design" target="_blank">
            <span data-text="Agence_41">Agence_41<sup>2018</sup></span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-7" href="https://www.behance.net/gallery/70136899/Place-App-UI-Design-Identity" target="_blank">
            <span data-text="Place">Place<sup>2018</sup></span>
          </a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-8" href="https://www.behance.net/gallery/85919546/Champagne-Virginie-T-Journal-UIUX-Design" target="_blank">
            <span data-text="Virginie_T.">Virginie_T.<sup>2018</sup></span>
          </a>
        </li>
      </ul>
    </div>

    <!-- projects section end -->
