---
title: LCK_73© - Digital Design & Identity
---

<div class="wrapper">
  <section class="hero-section">
    <!-- LOGO -->
    <!-- <div class="hero-logo">
      <a href="mailto:lck73.studio@gmail.com">contact</a>
    </div> -->

    <!-- TOGGLE BUTTON -->
    <!-- <div class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </div> -->

    <!-- SOCIAL MEDIA ICONS -->
    <!-- <div class="media">
      <ul class="ref-list">
        <li>
          <a href="https://www.behance.net/lck73" target="_blank">Be</a>
        </li>
        <li>
          <a href="http://instagram.com/lck.73" target="_blank">In</a>
        </li>
        <li>
          <a href="http://facebook.com/lck73studio" target="_blank">Fa</a>
        </li>
      </ul>
    </div> -->

    <div id="menu">
      <div class="menu-line">
        <a href="#home">
          <h4>LCK_73</h4>
        </a>
      </div>
    </div>
