---
title: LCK_73© - Digital Design & Identity
---
<div class="custom-container">
  <div class="info-page">
    <h4 class="info-page-title">About us</h4>
    <p class="wow fadeInUp" data-wow-delay="0.2s">With an expertise in digital and printed media, LCK_73 studio designs identities and websites for brands and companies, services or products. Based in Paris, the studio has an active part in contemporary design culture and its work has a lasting influence on the understanding of contemporary brands and modern corporate communication.
    </p>
  </div>

</div>
